<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sanciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1>Procedimientos Sancionatorios</h1>
        <div style="height: 600px; overflow-y: auto;" >
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Expediente</th>
                        <th>Unidad Fiscalizable</th>
                        <th>Nombre Razón Social</th>
                        <th>Categoría</th>
                        <th>Región</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody >
                    {% for sancion in sanciones %}
                        <tr>
                            <td>{{ sancion.numero }}</td>
                            <td>{{ sancion.expediente }}</td>
                            <td>{{ sancion.unidad_fiscalizable }}</td>
                            <td>{{ sancion.nombre_razon_social }}</td>
                            <td>{{ sancion.categoria }}</td>
                            <td>{{ sancion.region }}</td>
                            <td>{{ sancion.estado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>